.carousel {
  background: url("../image/product-header-bg.jpg") no-repeat bottom center /
    cover;
  padding: 200px 0;

  &__action {
    display: flex;
  }

  &__btn1 {
    @include styleBtn(
      transparent,
      $color-blue-2,
      10px,
      $color-blue-2,
      #fff,
      $color-blue-2,
      10px 20px
    );
  }

  &__btn2 {
    @include styleBtn(
      linear-gradient(120deg, #60a4f4, #2a73dd),
      linear-gradient(120deg, #60a4f4, #2a73dd),
      10px,
      #fff,
      #fff,
      linear-gradient(120deg, #60a4f4, #2a73dd),
      10px 30px
    );
    margin-left: 10px;
  }
}
